.product{
    
width: 150px;
height: 40px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0%;
border:1px white;
background-color: white;
color: rgba(58, 58, 58, 0.8)

}
.show{

border: 1px solid #3A3A3A;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
width: 124px;
height: 22px;
left: 898px;
top: 3941px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #3A3A3A;


}
.discountAndSales{
    

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 3em;
line-height: 88px;
letter-spacing: 0.05em;
color: #3A3A3A;
}
.discountAndSalesText{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
color: rgba(58, 58, 58, 0.5);
}
.formText{

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
color: rgba(58, 58, 58, 0.5);

}
.stayUpdated{
  

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size:2.5em;
line-height: 120%;

letter-spacing: 0.05em;

color: #3A3A3A;


}
.email{
  
font-family: Montserrat;
font-style: normal;
font-weight: normal;
width:70%;
font-size: 18px;
line-height: 120%;
color: rgba(58, 58, 58, 0.3);
}
.subscribe{
     font-family: Montserrat; 
     font-style: normal; 
     font-weight: normal; 
     font-size: 18px; 
     line-height: 120%; 
     color: #B09E80;
     /* SUSCRIBE */
}
.iconText{
    margin-top:10%;
       font-family: Montserrat;
        font-style: normal; 
        font-weight: 500; 
        font-size:1.1em;
         line-height: 0%; 
         color: #3A3A3A;
}
.iconTextSmall{
 
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1em;
color: rgba(58, 58, 58, 0.6);

margin-top:10%;
}
.customizedRequirements{
  
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 3em;
line-height: 88px;
letter-spacing: 0.05em;

color: #3A3A3A;


}
.customizedRequirementsText{

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 1.5em;
line-height: 59px;
letter-spacing: 0.05em;

color: rgba(176, 158, 128, 0.6);


}
.customizedRequirementsSmallText{
   width:80%;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 0.7em;
line-height: 120%;
color: rgba(58, 58, 58, 0.5);

}
.knowMore{
    
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
/* line-height: 0%; */
/* identical to box height, or 0px */
letter-spacing: 0.1em;
border:1px solid   #B09E80;
color: #B09E80;
background-color: white;

}
.vector1{
 
    left: 84.89%;
    right: 8.6%;
    top: 62.96%;
    bottom: 20.72%;
    width:100px;
    background: #B09E80;
    transform: rotate(-90deg);
}
.vector2{
    left: 78.2%;
    right: 20.88%;
    top: 51.08%;
    bottom: 8.15%;
    width:100px;
    background: #B09E80;
    transform: rotate(-90deg);
}
.footerText{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 0.8em;
line-height: 120%;
color: rgba(58, 58, 58, 0.6);
}
.footerHeading{
  

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1em;
line-height: 120%;
color: #B09E80;
}
.footerBottomText{

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 1em;
line-height: 0%;
color: #3A3A3A;


}
.shopByRoom{
 

font-family: Montserrat;
font-style: normal;
font-weight: 500;
letter-spacing: 0.05em;
color: #3A3A3A;
}
.shopByRoomText{
    position:absolute;
font-family: Montserrat;
font-style: normal;
margin-top:5%;
font-weight: 500;
font-size: 1.2em;
line-height: 0%;
letter-spacing: 0.1em;
color: #3A3A3A;
margin-left:5%


}
.explore{

width: 203px;
height: 50px;
background: #3A3A3A;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 1.1em;
line-height: 0%;
letter-spacing: 0.1em;
color: #FFFFFF;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.handpicked{

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size:4.5em;
color: #3A3A3A;


}
.sliderText{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 0%;
color: #3A3A3A;

}
.sliderSmallText{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 0%;
color: #3A3A3A;
}

@media screen and (max-width: 900px) {
    #iconsList{
        margin-top:20%;
        margin-bottom:5%
    }
  }
  @media screen and (max-width: 800px) {
    #iconsList{
        margin-top:30%;
        margin-bottom:5%
    }
  }



