.product{
    
    /* width: 130px;
    height: 0px; */
    margin-right:50px;
  
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 0%; */
}
